
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');


body{
   
    font-family: 'PT Serif', serif;
    background-color: #e5e5f7dc;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #a08a8a 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    display: flex;
    min-width: 100vh;
    
    
}

#contenedor{
    background-color: rgb(236, 225, 225);
    margin: auto;
    margin-top: 15%;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 10px 26px 7px 9px rgba(0,0,0,0.1);
    text-align: center;
}

