div.row {
  margin-right: 0px;
}

div.container-fluid {
  padding-right: 0px;
}


.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #5ed31a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, rgb(74, 252, 83) 0%, rgb(0, 255, 213) 100%);
}

.botton {

  height: 50px;
  width: 132px;
  background: #fdfdfd;
  border-radius: 22px;
  opacity: 1;
  left: 0;
  margin-top: 50px;
}

.verde a:hover {

  color: rgb(84, 197, 61);
}
.card {
  border-style: 5px solid black;
  padding-bottom: 3%;
}
.bord-hedeader{
 
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
   margin: 20px;
  

}
#lista{
  list-style-type: none;
  position: relative;
  
  margin-top: 12px;
  text-justify:distribute-all-lines;
  
}

#lista:before {
  content: "✓";
  margin-right: 12px;
  
}
.card {
  border-style: 5px solid black;
  padding-bottom: 0;
}